################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Jobs.In.Campinas.Api/.vs/Jobs.In.Campinas.Api
/Jobs.In.Campinas.Api/Jobs.In.Campinas.Api/bin/Debug/net7.0
/Jobs.In.Campinas.Api/Jobs.In.Campinas.Api/obj
/Jobs.In.Campinas.Api/.vs/ProjectEvaluation
/Jobs.In.Campinas.Api/Api/bin/Debug
/Jobs.In.Campinas.Api/Api/obj
/Jobs.In.Campinas.Api/CrossCutting.Configurations/bin/Debug
/Jobs.In.Campinas.Api/CrossCutting.Configurations/obj
/Jobs.In.Campinas.Api/Domain/bin/Debug
/Jobs.In.Campinas.Api/Domain/obj
/Jobs.In.Campinas.Api/Infrastucture.Repository/bin/Debug
/Jobs.In.Campinas.Api/Infrastucture.Repository/obj
/Jobs.In.Campinas.Api/Api/appsettings.Development.json
/Api/bin/Debug
/Api/obj
/CrossCutting.Configurations/bin/Debug
/CrossCutting.Configurations/obj
/Domain/bin/Debug
/Domain/obj
/Infrastucture.Repository/bin/Debug
/Infrastucture.Repository/obj
/Infrastructure.IoC/bin/Debug/net7.0
/Infrastructure.IoC/obj
/Api/appsettings.Development.json
/Infrastructure.Repository/bin/Debug
/Infrastructure.Repository/obj
/Infrastructure.Services/bin/Debug/net7.0
/Infrastructure.Services/obj
/Web/Client/obj
/Web/Server/obj
/Web/Shared/obj
/Web/Client/bin/Debug/net7.0

.env
/Web/Client/bin/Release/net7.0
/Web/Client/Properties/PublishProfiles
/Web/Client/Web.Client.csproj.user
