@page "/sobre"
<PageTitle>Campinas Jobs - Sobre</PageTitle>
<div class="container mt-4">
    <h1 class="mb-4">Bem-vindo ao Campinas Jobs!</h1>
    <p>Seja você um candidato em busca de oportunidades empolgantes na região de Campinas ou um empregador procurando talentos excepcionais para fortalecer sua equipe, você está no lugar certo. O Campinas Jobs é mais do que apenas um site de vagas de emprego - é uma plataforma dedicada a unir pessoas talentosas com as oportunidades que merecem.</p>

    <h2 class="mt-4">Nossa Missão</h2>
    <p>Nossa missão é simplificar e agilizar o processo de busca e divulgação de vagas de emprego em Campinas e seus arredores. Acreditamos que todos merecem encontrar um emprego que os inspire e permita que alcancem todo o seu potencial. Ao fornecer uma plataforma intuitiva e eficaz, estamos trabalhando para fortalecer a economia local, contribuir para o crescimento das empresas e ajudar os indivíduos a alcançar suas aspirações profissionais.</p>

    <h2 class="mt-4">Para Candidatos</h2>
    <p>Se você está em busca de uma nova jornada profissional, o Campinas Jobs oferece uma ampla variedade de oportunidades para explorar. Nossa interface amigável permite que você navegue por vagas em diferentes setores, níveis de experiência e requisitos, tornando mais fácil encontrar a posição ideal para você. Além disso, fornecemos recursos valiosos, como dicas de entrevistas, aconselhamento de carreira e insights sobre o mercado de trabalho local.</p>

    <h2 class="mt-4">Para Empregadores</h2>
    <p>Empresas em crescimento e estabelecidas na região de Campinas podem contar com o Campinas Jobs para atrair os melhores talentos da região. Nossa plataforma oferece uma maneira conveniente e eficiente de anunciar suas vagas e se conectar com candidatos qualificados. Simplificamos o processo de recrutamento, economizando tempo e recursos, para que você possa se concentrar no que faz de melhor: desenvolver seu negócio.</p>

    <h2 class="mt-4">Como Funciona</h2>
    <ol>
        <li><strong>Explore Vagas:</strong> Navegue por uma variedade de vagas disponíveis em Campinas e região. Refine sua pesquisa de acordo com seus interesses e habilidades.</li>
        <li><strong>Anuncie Vagas:</strong> Empregadores podem criar anúncios de vagas de maneira simples e rápida, atingindo um público qualificado de candidatos.</li>
    </ol>

    <h2 class="mt-4">Fale Conosco</h2>
    <p>Queremos ouvir você! Entre em contato conosco para compartilhar suas experiências, tirar dúvidas ou fornecer feedback valioso. Estamos comprometidos em melhorar continuamente nossa plataforma para atender às necessidades tanto dos candidatos quanto dos empregadores.</p>
</div>