@page "/login"

<PageTitle>Campinas Jobs - Login</PageTitle>

<div class="container mt-4">
	<h1>Login</h1>
	<p>Por favor, preencha os seus dados corretamente.</p>
	<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
		<DataAnnotationsValidator />
		<div class="form-group mb-3">
			<label for="email">Email</label>
			<InputText Id="email" Class="form-control" @bind-Value="loginModel.Email" />
			<ValidationMessage For="@(() => loginModel.Email)" />
		</div>
		<div class="form-group mb-3">
			<label for="password">Senha</label>
			<InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" />
			<ValidationMessage For="@(() => loginModel.Password)" />
		</div>
		<button type="submit" class="btn btn-primary">Entrar</button>
	</EditForm>
</div>

@code {
	private LoginModel loginModel = new LoginModel();

	private async Task HandleLogin()
	{
		try
		{
			PreloadService.Show(SpinnerColor.Primary);
			var success = await AuthService.Login(loginModel);

			if (success)
			{
				NavigationManager.NavigateTo("/conta");
			}
			else
			{
				ToastService.Notify(new(ToastType.Danger, "Dados inválidos."));
			}
		}
		catch { }
		finally
		{
			PreloadService.Hide();
		}
	}
}