@page "/cadastro"
<PageTitle>Campinas Jobs - Cadastro</PageTitle>

<div class="container mt-4">
	<h1>Cadastro</h1>
	<p>Por favor, preencha os seus dados corretamente.</p>
	<EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration">
		<DataAnnotationsValidator />
		<div class="form-group mb-3">
			<label for="name">Nome</label>
			<InputText Id="name" class="form-control" @bind-Value="RegisterModel.Name" />
			<ValidationMessage For="@(() => RegisterModel.Name)" />
		</div>
		<div class="form-group mb-3">
			<label for="email">Email</label>
			<InputText Id="email" class="form-control" @bind-Value="RegisterModel.Email" />
			<ValidationMessage For="@(() => RegisterModel.Email)" />
		</div>
		<div class="form-group mb-3">
			<label for="password">Senha</label>
			<InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
			<ValidationMessage For="@(() => RegisterModel.Password)" />
		</div>
		<div class="form-group mb-3">
			<label for="password">Confirme a senha</label>
			<InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
			<ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
		</div>
		<button type="submit" class="btn btn-primary">Cadastrar</button>
	</EditForm>
</div>

@code {
	private RegisterModel RegisterModel = new();

	private async Task HandleRegistration()
	{
		try
		{
			PreloadService.Show(SpinnerColor.Primary);
			var (success, message) = await AuthService.Register(RegisterModel);

			if (success)
			{
				ToastService.Notify(new(ToastType.Success, message));
				NavigationManager.NavigateTo("/login");
			}
			else
			{
				ToastService.Notify(new(ToastType.Danger, message));
			}
		}
		finally
		{
			PreloadService.Hide();
		}
	}
}